<div id="graph-container" style="width: 100%; height: 200px"></div>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
  d3.json("/assets/graph.json").then((graphData) => {
    const container = document.getElementById("graph-container");
    let width = container.clientWidth;
    let height = container.clientHeight;

    const svg = d3
      .select("#graph-container")
      .append("svg")
      .attr("width", width)
      .attr("height", height)
      .call(
        d3.zoom().on("zoom", function (event) {
          svg.attr("transform", event.transform);
        })
      )
      .append("g");

    const simulation = d3
      .forceSimulation(graphData.nodes)
      .force(
        "link",
        d3
          .forceLink(graphData.links)
          .id((d) => d.id)
          .distance(150)
      )
      .force("charge", d3.forceManyBody().strength(-30))
      .force("center", d3.forceCenter(width / 2, height / 2));

    const link = svg
      .append("g")
      .attr("class", "links")
      .selectAll("line")
      .data(graphData.links)
      .enter()
      .append("line")
      .attr("stroke", "#999")
      .attr("stroke-opacity", 0.6)
      .attr("stroke-width", 2);

    const node = svg
      .append("g")
      .attr("class", "nodes")
      .selectAll("circle")
      .data(graphData.nodes)
      .enter()
      .append("circle")
      .attr("r", 4)
      .attr("class", "node")
      .on("mouseover", function (event, d) {
        // 툴팁에 노드 제목 표시
        const tooltip = d3
          .select("#tooltip")
          .style("opacity", 1)
          .html(d.id) // 노드의 제목을 툴팁에 표시
          .style("left", event.pageX + 5 + "px")
          .style("top", event.pageY - 28 + "px")
          .style("font-size", "12px") // 제목을 아주 작게 표시
          .style("background", "#fff")
          .style("border", "1px solid #ccc")
          .style("padding", "5px 10px")
          .style("border-radius", "4px");
      })
      .on("mouseout", function () {
        d3.select("#tooltip").style("opacity", 0); // 툴팁 숨기기
      })
      .on("click", function (event, d) {
        const targetUrl = `/posts/${d.self}`;
        window.location.href = targetUrl;
      })
      .call(
        d3
          .drag()
          .on("start", dragStarted)
          .on("drag", dragged)
          .on("end", dragEnded)
      );

    simulation.on("tick", () => {
      link
        .attr("x1", (d) => d.source.x)
        .attr("y1", (d) => d.source.y)
        .attr("x2", (d) => d.target.x)
        .attr("y2", (d) => d.target.y);

      node.attr("cx", (d) => d.x).attr("cy", (d) => d.y);
    });

    function dragStarted(event, d) {
      if (!event.active) simulation.alphaTarget(0.3).restart();
      d.fx = d.x;
      d.fy = d.y;
    }

    function dragged(event, d) {
      d.fx = event.x;
      d.fy = event.y;
    }

    function dragEnded(event, d) {
      if (!event.active) simulation.alphaTarget(0);
      d.fx = null;
      d.fy = null;
    }

    // 툴팁 요소
    d3.select("body")
      .append("div")
      .attr("id", "tooltip")
      .attr("class", "tooltip")
      .style("opacity", 0) // 처음에는 툴팁이 안 보임
      .style("position", "absolute")
      .style("background", "lightgrey")
      .style("padding", "5px")
      .style("border-radius", "5px")
      .style("pointer-events", "none");

    window.addEventListener("resize", () => {
      width = container.clientWidth;
      height = container.clientHeight;

      svg.attr("width", width).attr("height", height);

      simulation.force("center", d3.forceCenter(width / 2, height / 2));
      simulation.alpha(1).restart();
    });
  });
</script>
